
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap');
        body{
          text-align: center;
          font-family: "Google Sans";
          background-color: #fcf5c1c7;
        }
        ul {
          list-style-type: none;
          padding: 0;
        }
  
        li {
          text-align: center;
        }
 